/* Main styles (for demo site only) */

:root {
  /* Colors */

  --color-white: #fffafa;
  --color-darkBlue: #0e1726;
  --color-purple: #b775f0;
  --color-dark-purple: #8619e6;
  --color-green: #80dbca;
  --color-orange: #ff757e;
  --color-blue: #82aaff;
  --color-grey: #8794a1;

  /* Typography */

  --font-size-sm: 1rem;
  --font-size-md: 1.414rem;
  --font-size-lg: 1.999rem;
  --font-size-xl: 2.827rem;

  /* Sizes, spacing */

  --section-spacing: 4rem;
  --max-width-md: 800px;
  --max-width-lg: 1440px;
}

/* Global styles */

html {
  scrollbar-color: var(--color-white) var(--color-darkBlue);
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: var(--color-white);
  background-color: var(--color-darkBlue);
}

main {
  max-width: var(--max-width-md);
  margin: 0 auto var(--section-spacing);
  padding: 1rem;
}

header {
  padding: 1rem;
  border-bottom: 1px solid var(--color-grey);
}

section {
  padding: var(--section-spacing) 0;
}

footer {
  padding: 1rem;
  border-top: 1px solid var(--color-grey);
  color: var(--color-white);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  margin-bottom: 2rem;
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

svg {
  width: 100%;
  height: auto;
  max-width: 1.5rem;
  fill: var(--color-white);
}

p {
  font-size: var(--font-size-sm);
}

a {
  color: var(--color-purple);
}

a:hover {
  color: var(--color-dark-purple);
}

a:hover svg {
  fill: var(--color-dark-purple);
}

/* Utility classes */

.flex {
  max-width: var(--max-width-lg);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Card styles */

.card {
  height: 50vh;
  max-height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto var(--section-spacing);
  padding: 1rem;
  color: var(--color-darkBlue);
  border-radius: 0.5rem;
}

.card:nth-of-type(4n + 1) {
  background-color: var(--color-purple);
}
.card:nth-of-type(4n + 2) {
  background-color: var(--color-green);
}
.card:nth-of-type(4n + 3) {
  background-color: var(--color-orange);
}
.card:nth-of-type(4n + 4) {
  background-color: var(--color-blue);
}
